.tabel, .tabel1, .tabel3, .tabel4 {padding: 10px; border-collapse: collapse;}
.tabel {background-color: #99ff33; border: 5px solid green;}
.tabel1 {background-color: pink; border: 5px solid red;}
.tabel3 {background-color: #99ccff; border: 5px solid blue;}
.tabel4 {background-color: yellow; border: 5px solid orange;}
.separo {width: 50%;}
.fadeout, .fadein {max-height: 0; overflow-y: hidden; -webkit-transition: max-height 0.5s ease-in-out; -moz-transition: max-height 0.5s ease-in-out; -o-transition: max-height 0.5s ease-in-out; transition: max-height 0.5s ease-in-out;}
.fadein {max-height: 300px;}
.spasibawah {height: 25px;}
a {text-decoration: none;}
a:link {color: red;}
input[type="number"] {width: 90px;}
#CalUkuran, #CalLed, #Info, #Keterangan {text-align: center;}
#UkuranKiri, #UkuranKanan, #LedKiri, #LedKanan {display: table-cell; position: relative; height: 200px; width: 350px; vertical-align: middle;}
#InfoKiri, #InfoKanan {display: table-cell; position: relative; height: 200px; width: 350px; vertical-align: middle; background: #ffff66;}
#UkuranKiri {background: #99ff33;}
#UkuranKanan {background: #bfff80;}
#LedKiri {background: #99ccff;}
#LedKanan {background: #cce5ff;}
#JudulInfo {background: yellow; display: table; width: 700px;}
#Keterangan {background: hotpink; width: 700px; padding: 5px 0 5px 0; display: table;}
#LabelUkuran, #InputUkuran, #LabelLed, #InputLed {float: left; position: relative; display: table-cell; width: 50%;}
.hurufGede {font-size: x-large;}
