.tabel, .tabel1, .tabel3, .tabel4 {padding: 10px; border-collapse: collapse;}
.tabel {background-color: #99ff33; border: 5px solid green;}
.tabel1 {background-color: pink; border: 5px solid red;}
.tabel3 {background-color: #99ccff; border: 5px solid blue;}
.tabel4 {background-color: yellow; border: 5px solid orange;}
.separo {width: 50%;}
.fadeout, .fadein {max-height: 0; overflow-y: hidden; -webkit-transition: max-height 0.5s ease-in-out; -moz-transition: max-height 0.5s ease-in-out; -o-transition: max-height 0.5s ease-in-out; transition: max-height 0.5s ease-in-out;}
.fadein {max-height: 300px;}
.spasibawah {height: 25px;}
a {text-decoration: none;}
a:link {color: red;}
input[type="number"] {width: 90px;}
#CalUkuran, #CalLed, #Info, #Keterangan {text-align: center;}
#UkuranKiri, #UkuranKanan, #LedKiri, #LedKanan {display: table-cell; position: relative; height: 200px; width: 350px; vertical-align: middle;}
#InfoKiri, #InfoKanan {display: table-cell; position: relative; height: 200px; width: 350px; vertical-align: middle; background: #ffff66;}
#UkuranKiri {background: #99ff33;}
#UkuranKanan {background: #bfff80;}
#LedKiri {background: #99ccff;}
#LedKanan {background: #cce5ff;}
#JudulInfo {background: yellow; display: table; width: 700px;}
#Keterangan {background: hotpink; width: 700px; padding: 5px 0 5px 0; display: table;}
#LabelUkuran, #InputUkuran, #LabelLed, #InputLed {float: left; position: relative; display: table-cell; width: 50%;}
.hurufGede {font-size: x-large;}

.jumbotron {
	background-image: url(aquascape.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: content-box;
	height: 300px;
	color: #fff !important;
	padding: 100px;
}

.navbar {
	background-color: #66cc00 !important;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar-brand {
	font-size: 25px !important;
	letter-spacing: 0px;
	vertical-align: middle;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff !important;
    color: #66cc00 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

body {
    font: 400 20px 'Noto Sans', sans-serif;
    line-height: 1.8;
    color: #000000;
    position: relative;
}

.navbar {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Luckiest Guy', cursive;
}

footer {
    background-color: #66cc00;
    width: 100%;
    color: #fff;
}

.btn-default:hover {
    background-color: #007399 !important;
    color: #fff;
    border-color: transparent;
}

.btn-default {
    background-color: #66cc00 !important;
    color: #fff;
    border-color: transparent;
    border-radius: 0;
}

.panel, .well, .panel-heading, .panel-footer {
    border-radius: 0 !important;
    background-color: #fff !important;
}
