.jumbotron {
	background-color: #66cc00;
	height: 200px;
	color: #fff !important;
	padding: 50px;
	margin: 0px;
}

.navbar {
	background-color: #66cc00 !important;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar-brand {
	font-size: 25px !important;
	letter-spacing: 0px;
	vertical-align: middle;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff !important;
    color: #66cc00 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

body {
    font: 400 17px 'Noto Sans', sans-serif;
    line-height: 1.8;
    color: #000000;
    position: relative;
}

.navbar {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Luckiest Guy', cursive;
}

footer {
    background-color: #66cc00;
    width: 100%;
    color: #fff;
}

.row {
	margin: 0;
    padding: 0;
}